.swiper {
	overflow: hidden;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}

.swiper-grid > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}

.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}

.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-prev,
.swiper-button-next {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}

	&::after {
		font-size: 0px;
	}
}

.swiper-pagination-bullet {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}
}

.swiper-button-lock {
	display: none !important;
}

.swiper-pagination-lock {
	display: none !important;
}

.swiper-button-disabled {
	opacity: 0.5;
}

//========================================================================================================================================================
.swiper-navigation {
	display: flex;
	align-items: center;

	.swiper-button-prev,
	.swiper-button-next {
		&:not(:last-child) {
			margin-right: 11px;
		}
	}
}

.swiper-control {
	display: flex;
	align-items: center;

	.swiper-pagination {
		margin-right: 8px;
	}
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	display: block;
}

.swiper-pagination {
	margin-right: 8px;
}

.swiper-navigation {
	display: flex;
	align-items: center;

	.swiper-button-prev,
	.swiper-button-next {
		&:not(:last-child) {
			margin-right: 5px;
		}
	}
}

// pag (hor, bul)
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 0px;
	left: 0;
	width: auto;
}

.swiper-pagination {
	position: relative;
	text-align: center;
	transition: 0.3s opacity;
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

// pag-item
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 6px;
}

.swiper-pagination-bullet {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: rgba($color: #ff8b00, $alpha: 0.25);
	position: relative;
	opacity: 1;
	transition: all 0.3s ease 0s;

	&::after {
		content: "";
		position: absolute;
		width: 7px;
		height: 7px;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 50%;
		background-color: #fff;
		transition: background-color 0.3s ease 0s;
	}
}

.swiper-pagination-bullet-active {
	background-color: var(--primary-color);
	opacity: 1;

	&::after {
		background-color: var(--primary-color);
	}
}

// nav
.swiper-button-next,
.swiper-button-prev {
	position: relative;
	top: 0%;
	width: 69px;
	height: 69px;
	margin-top: 0px;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	backdrop-filter: blur(8px);
	background: rgba(0, 0, 0, 0.25);
	transition: all 0.6s cubic-bezier(0.135, 0.9, 0.15, 1) 0s;

	@media (max-width: 1439.98px) {
		width: 60px;
		height: 60px;
	}

	@media (max-width: 1169.98px) {
		width: 50px;
		height: 50px;
	}

	@media (max-width: 991.98px) {
		width: 47px;
		height: 47px;
	}

	@media (max-width: 767.98px) {
		width: 35px;
		height: 35px;
	}

	svg {
		width: 18px;
		height: 18px;
		position: absolute;
		transition: all 0.6s cubic-bezier(0.135, 0.9, 0.15, 1) 0s;

		@media (max-width: 991.98px) {
			width: 14px;
			height: 14px;
		}

		@media (max-width: 767.98px) {
			width: 10px;
			height: 10px;
		}

		path {
			transition: stroke 0.3s ease 0s;
		}

		&:last-child {
			opacity: 0;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--primary-color);
		}
	}
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 0px;
	right: 0px;

	svg {
		&:last-child {
			transform: translateX(100%);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			svg {
				&:first-child {
					transform: translateX(-100%);
					opacity: 0;
				}
				&:last-child {
					transform: translateX(0%);
					opacity: 1;
				}
			}
		}
	}
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0px;
	left: 0px;

	svg {
		&:last-child {
			transform: translateX(-100%);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			svg {
				&:first-child {
					transform: translateX(100%);
					opacity: 0;
				}
				&:last-child {
					transform: translateX(0%);
					opacity: 1;
				}
			}
		}
	}
}
